# Server Configuration
PORT=3000
NODE_ENV=development

# PostgreSQL Connection
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=order_service_db
PG_SSL=false

# Sharding Configuration
SHARD_COUNT=4                        #number of shard tables
SHARD_TABLE_PREFIX=orders_shard_     #prefix for shard tables
BATCH_SIZE=500                       #minimum size/records for table

# Google Cloud Storage Configuration (Using ADC)
# Authentication is automatically handled via Google Application Default Credentials (ADC)
# Command to login locally: gcloud auth application-default login
# Or set GOOGLE_APPLICATION_CREDENTIALS=/path/to/key.json
GCS_BUCKET_NAME=order-vault-505818
GCP_PROJECT_ID=order-vault-505818

# Storage Driver: "gcs" (production with GCP) or "local" (for local testing without GCP bucket)
STORAGE_DRIVER=local
LOCAL_STORAGE_DIR=./uploads
